/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.modal-header h2 {
    margin: 0;
}
.modal-close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.modal form {
    display: flex;
    flex-direction: column;
}
.modal form input,
.modal form select,
.modal form button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.modal form button {
    background-color: #ff9500;
    color: #fff;
    border: none;
    cursor: pointer;
}
.modal form button:hover {
    background-color: #FFA500;
}


.confirmation-message {
    display: none;
    color: white;
    background-color: #28a745;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    text-align: center;
}